@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html {
    font-family: 'Sora',sans-serif;
  }

  .default-body{
    padding: 0% 10% 0%;
  }
  .large-body{
    padding: 0% 25% 0%;
  }
  .medium-body{
    padding: 0% 13% 0%;
  }
  .small-body{
    padding: 0% 10% 0%;
  }
  .next-section{
    padding: 0% 10%;
  }

  .bg-dark-black{
    background-color: #10101a;
  }
  .bg-blacky{
    background-color: #1d1e29;
  }

  .text-whity{
    color: #c4c4c4;
  }
  
  

}
