@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
  html {
    font-family: 'Sora',sans-serif;
  }

  .default-body{
    padding: 0% 10% 0%;
  }
  .large-body{
    padding: 0% 25% 0%;
  }
  .medium-body{
    padding: 0% 13% 0%;
  }
  .small-body{
    padding: 0% 10% 0%;
  }
  .next-section{
    padding: 0% 10%;
  }

  .bg-dark-black{
    background-color: #10101a;
  }
  .bg-blacky{
    background-color: #1d1e29;
  }

  .text-whity{
    color: #c4c4c4;
  }

  .React{
    background-color: #bae6fd;
    color: #075985;
  }
  .JavaScript{
    background-color: #fce96a;
    color: #633112;
  }
  .jQuery{
    background-color: #a5f3fc;
    color: #164e63;
  }
  .PHP{
    background-color: #bfdbfe;
    color: #1e3a8a;
  }
  .Bootstrap{
    background-color: #c7d2fe;
    color: #312e81;
  }
  .HTML{
    background-color: #fed7aa;
    color: #7c2d12;
  }
  .CSS{
    background-color: #e5e7eb;
    color: #111827
  }
  .Svelte{
    background-color: #fecaca;
    color: #7f1d1d;
  }
  .CodeIgniter4{
    background-color: #fecaca;
    color: #7f1d1d;
  }
  .FigmaPrototype{
    background-color: #99f6e4;
    color: #134e4a;
  }
  
  

}
