@import url('https://fonts.googleapis.com/css2?family=Inter&family=Sora:wght@100;200;300;400;500;600;700;800&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "CircularStd";
  src: url("./font/CircularStd-Book.woff");
}

@font-face {
  font-family: "MarkPro";
  src: url("./font/MarkPro-Heavy.woff");
}

@layer base{
  html {
    font-family: 'Sora',sans-serif;
  }

  .hero-body{
    padding: 5% 10% 0%;
  }

  .default-body{
    padding: 0% 16px;
  }
  .large-body{
    padding: 0% 25%;
  }
  .medium-body{
    padding: 0% 13%;
  }
  .small-body{
    padding: 0% 10%;
  }
  .next-section{
    padding: 0% 16px 0% 16px;
  }

  .bg-dark-black{
    background-color: #10101a;
  }
  .bg-blacky{
    background-color: #1d1e29;
  }

  .text-whity{
    color: #c4c4c4;
  }

  .ReactJS{
    background-color: #bae6fd;
    color: #075985;
  }
  .TailwindCSS{
    background-color: #a5f3fc;
    color: #164e63;
  }
  .JavaScript{
    background-color: #fce96a;
    color: #633112;
  }
  .jQuery{
    background-color: #a5f3fc;
    color: #164e63;
  }
  .PHP{
    background-color: #bfdbfe;
    color: #1e3a8a;
  }
  .Bootstrap{
    background-color: #c7d2fe;
    color: #312e81;
  }
  .HTML{
    background-color: #fed7aa;
    color: #7c2d12;
  }
  .CSS{
    background-color: #e5e7eb;
    color: #111827
  }
  .Svelte{
    background-color: #fecaca;
    color: #7f1d1d;
  }
  .CodeIgniter4{
    background-color: #fecaca;
    color: #7f1d1d;
  }
  .FigmaPrototype{
    background-color: #99f6e4;
    color: #134e4a;
  }
  .MongoDB{
    background-color: #d9f99d;
    color: #365314;
  }
  .ExpressJS{
    background-color: #e5e7eb;
    color: #111827;
  }
  .NodeJS{
    background-color: #bbf7d0;
    color: #14532d;
  }
  
  

}
